<!DOCTYPE html>
<html lang="en">

<script src="../renderer.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Larnx</title>
    <!-- This is a comment by Christina -->
    <!-- Bootstrap core CSS -->
    <link href="../Dependencies/vendor_sidebar/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../Dependencies/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="../Dependencies/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../Styles/video.css">-->
    <link href="http://vjs.zencdn.net/6.2.8/video-js.css" rel="stylesheet">

    <link href="../node_modules/toastr/build/toastr.min.css" rel="stylesheet" />
    <script src="../node_modules/toastr/build/toastr.min.js"></script>

    <script>
        // Initialize and catalog local storage variables
        // 1. WORKSPACE
        localStorage.WORKSPACE = '';
        chart;
    </script>
    <script>
        window.onload = function() {
            chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Relative Residue Intensity"
                },
                axisX: {
                    title: "Raw Intensity"
                },
                axisY: {
                    title: "Datapoint"
                },
                data: [{
                    type: "spline",
                    dataPoints: []
                }]
            });
            chart.render();
        }
    </script>

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img alt="Brand" src="../Resources/logoTC.png" width="66" height="57" href="#menu-toggle" id="menu-toggle">
                    </a>
                </div>
            </div>
        </nav>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Larnx Core
                    </a>
                </li>
                <li>
                    <a href="video-only.html">Record Video</a>
                </li>
                <li>
                    <a onclick="setWorkspace()" href="#">Set Workspace</a>
                </li>
                <li>
                    <a onclick="fileExplorer()" href="#">Import Video</a>
                </li>
                <li>
                    <a onclick="render_modal('saveFrame')" href="#">Frame Capture</a>
                    <!--<a onclick="saveFrame()" href="#">Frame Capture</a>-->
                </li>
                <li>
                    <a onclick="render_modal('trackContour')" href="#">Contour Tracking</a>
                    <!--<a onclick="saveFrame()" href="#">Frame Capture</a>-->
                </li>
                <li>
                    <a onclick="render_modal('execute')" href="#">Residue Segmentation</a>
                    <!--<a onclick="execute()" href="#">Process</a>-->
                </li>
                <li>
                    <a href="https://github.com/Larnx">Manual</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Larnx 2D: Image Processing for Dysphagia</h1>

                <div>
                    <p></p>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Current Workspace</h4>
                                <p class="card-text" id="WorkSpace">Please select a workspace</p>
                                <a onclick="setWorkspace()" ref="#" class="btn btn-primary">Select Workspace</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Current Video</h4>
                                <p class="card-text" id="WorkVideo">Please select an endoscopy video</p>
                                <a onclick="fileExplorer()" href="#" class="btn btn-primary">Select Video</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p></p>
                </div>

                <div class="row">
                    <!--<div class="col">-->
                    <div id="video-container" class="col-sm-6">
                        <video id="vid_original_header" class="video-js vjs-default-skin" controls preload="auto" width="640" height="640" poster="../Resources/g.jpg" data-video-path="">
                        <source id="vid_original_mp4" src="" type='video/mp4'>
                        <source id="vid_original_webm" src="" type="video/webm">
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                    </div>
                    <!-- <a>What is this & where is it going to go</a> -->
                    <div class="col">

                        <!--<div class="chart-container" style="position: absolute; height:40vh; width:80vw">-->
                        <!--<canvas id="myChart" width="200" height="200"></canvas>-->
                        <!--</div>-->
                        <div id="chartContainer" style="height: 300px; width: 100%;">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    <div class="modal fade" id="executeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Processing Parameters</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="add_forms_here">
                        <label for="execute_fileName">Output File Name: </label>
                        <input type="email" class="form-control" id="execute_fileName" aria-describedby="emailHelp" placeholder="default">
                        <small id="emailHelp" class="form-text text-muted">Please enter the name you would like your processed outputs to be called.</small>

                        <label for="timeStamp">Frame Time Location: </label>
                        <input type="email" class="form-control" id="timeStamp" aria-describedby="timeStamp_descriptor" placeholder="default">
                        <small id="timeStamp_descriptor" class="form-text text-muted">Please enter the video time where you would like to save a frame.</small>
                    </div>

                </div>
                <div class="modal-footer" id="add_button_here">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
                    <!--<button type="button" class="btn btn-primary" onclick="execute( document.getElementById('execute_fileName').value )">Proceed</button>-->
                </div>
            </div>
        </div>
    </div>


    <script src="../Scripts/charts.js"></script>
    <script src="../Dependencies/vendor_sidebar/jquery/jquery.min.js"></script>
    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
    <script src="../Dependencies/vendor_sidebar/popper/popper.min.js"></script>
    <script src="../Dependencies/vendor_sidebar/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        require('../renderer.js')
    </script>
    <script>
        $(document).ready(function() {
            videoPlayer = videojs(document.getElementById('vid_original_header'), {}, function() {});
        });
    </script>
    <script src="../Dependencies/Canvas/jquery.canvasjs.min.js"></script>
    <script src="../Dependencies/Canvas/canvasjs.min.js"></script>
    <style>
        .navbar-inverse {
            color: #000;
            background-color: #000;
        }
    </style>

</body>

</html>




<!--<div class="row">-->
<!--<div class="col">-->
<!--&lt;!&ndash;<video id="vid_pre" src="" hidden="true"></video>&ndash;&gt;-->
<!--<img id="original" class="pull-left" src="../Resources/original.JPG"/>-->
<!--</div>-->
<!--<div class="col">-->
<!--&lt;!&ndash;<video src="vid_post" hidden="true"></video>&ndash;&gt;-->
<!--<img id="processed" class="pull-left" src="../Resources/processed.JPG"/>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--<div class="row">-->
<!--<img id="original"  class="img-responsive" src="../Resources/original.JPG">-->
<!--</div>-->
<!--<div class="row">-->
<!--<img id="processed"  class="img-responsive" src="../Resources/processed.JPG">-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-6" style="padding-left: 0px;  padding-right: 0px;">-->
<!--<img id="original"  class="img-responsive" src="../Resources/original.JPG">-->
<!--</div>-->
<!--<div class="col-6" style="padding-left: 0px;  padding-right: 0px;">-->
<!--<img id="processed"  class="img-responsive" src="../Resources/processed.JPG">-->
<!--</div>-->
<!--</div>-->
<!--<p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>-->
<!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
<!--<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>-->

<!--<script>-->
<!--//    const fs            = require("fs");-->
<!--//    function frameCapture(){-->
<!--//        var frame = captureVideoFrame('vid_original_header', 'png');-->
<!--//        fs.writeFile('temp.png',frame,'base64', function (error, data) {-->
<!--//            document.getElementById('frame_capture').setAttribute('src', frame.dataUri);-->
<!--//        });-->
<!--//-->
<!--//        var formData = new FormData();-->
<!--//        formData.append('file', frame.blob, 'frame_capture.' + frame.format);-->

<!--//        var request = new XMLHttpRequest();-->
<!--//        request.open('POST', '/api/upload', true);-->
<!--//        request.setRequestHeader('Content-Type', 'application/multipart/form-data; charset=UTF-8');-->
<!--//        request.send(formData);-->
<!--//    }-->
<!--</script>-->